<h1>Contas</h1>

<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th scope="col">Agência</th>
      <th scope="col">Conta</th>
      <th scope="col">Cliente</th>
      <th scope="col">Saldo</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let conta of contas">
      <td>
        {{ conta.agencia }}
      </td>
      <td>
        {{ conta.numero }}
      </td>
      <td>
        {{ conta.cliente.nome }}
      </td>
      <td>
        {{ conta.saldo | currency: 'BRL' }}
      </td>
    </tr>
  </tbody>
</table>

<a class="btn btn-dark" routerLink="cadastrar">Cadastrar</a>
